
/*
	Colors used:
	Footer and navbar: #556676
	active menu and side: #d6d1cd
	Main #f5e1e0
*/

/*Universal*/
* {
		box-sizing: border-box;
  }

/*Base*/
  body {
		font-family: "Lato", sans-serif;
		margin: 0;
  }
  header{
		background-image:url("images/header.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
  }
  footer {
		padding: 20px;
		display: flex;
    flex-direction: column;
  }

/*Layout*/
p{
	font-size: 16px;
}

/*Theme*/

	/*Colors*/
  footer, .navbar {
		background-color:#556676;
  } 
  .navbar a.active, .side{
		background-color:#d6d1cd;
  }
  main, .navbar a:hover{
		background-color: #f1f1f1;
  }

		/*Images*/
	img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
  .main_img {
		width: 80%;
		height:200px;
  }
  .side_img{
		width: 100%;
  }  

/* Header*/
  .header {
		padding: 80px;
		text-align: center;
		color: white;
  }

  .header h1 {
		font-size: 40px;
  }
  
/* Navbar*/
  .navbar {
		overflow: hidden;
		position: static;
  }
  
  .navbar a {
		float: left;
		display: block;
		color: white;
		text-align: center;
		padding: 14px 20px;
		text-decoration: none;
  }
  
  .navbar a.right {
		float: right;
  }
  
  .navbar a:hover { 
		color: black;
  }
  
  .navbar a .active { 
		color: black;
  }
  
/* Column container */
  main {  
		display: -ms-flexbox; 
		display: flex;
		-ms-flex-wrap: wrap; 
		flex-wrap: wrap;
  }

/* Sidebar/left column */
  .side {
		left: 0;
		width: 0;
		height: 0;
		position: absolute;
		z-index: 1;
		overflow-x: hidden;
  	transition: 0.5s;
		-ms-flex: 30%; 
		flex: 30%; 
		padding: 0px 20px;
  }

  .side .closebtn {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 35px;
		color: #556676;
		display: block;
		transition: 0.3s;
		display:flex;
		justify-content: flex-end;
		cursor:pointer;
  }

	.side .closebtn:hover {
		color: #1f262c;
	}

  .side h2, .side h3,  .side h5, .side_img, .side p{
		display: block;
		transition: 0.3s;
	}
	.side_img{
		margin:15px 0px ;
	}
  
/* Main elements */
  .main_section {   
		-ms-flex: 70%; 
		flex: 70%;
		padding: 20px;
		transition: margin-left .5s;
	}

	article h1{
		font-size: 18px;
	}
	article h2{
		font-size: 16px;
	}

/*Footer*/
  .row{
	  display: flex;
		flex-flow: row nowrap;
		margin: 20px;
		padding:10px;
	  color: white;
  }
  .row div p{
	  width: 60%;
  }
  .links ul{
	  padding: 0;
  }
  .links li {
		list-style-type: none;
  }
  .links a{
		text-decoration: none;
		color: rgb(173, 215, 255);
  }
  .links a:hover{
		color:white;
	}
  .footer-container p{
	  color:white;
	  float: right;
  }
  

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
	.row {   
	  	flex-direction: column;
	}
	.side_img{ width: 90%; }	
	.main_img{
		width: 100%;
	}
}
  
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
	.navbar a {
	  float: none;
	  width: 100%;
	}
	
	.side a { font-size: 18px; }
	p { font-size: 16px; }
}